.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(79deg, #7439db, #C66FCB 48%, #F7944D);
}

.auth-form, .login-form, .register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-image: linear-gradient(79deg, #7439db, #C66FCB 48%, #F7944D); */ 
}

.auth-form {
  padding: 5rem;
  border: 1px solid black;
  border-radius: 10px;
}

label {
  text-align: left;
  padding: 0.25rem;
}

input {
  margin: 0.5rem 0;
  padding: 1rem;
  border: none;
  border-radius: 10px;
}

button {
  border: none;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: black;
}

.link-btn {
  background: none;
  color: blue;
  text-decoration: underline;
}

.time-card {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #d5d5d5;
  /* padding: 5rem;
  border: 1px solid black;
  border-radius: 10px; */
  /* background: linear-gradient(#18f08b 50%, #16191e 50%); */
}

body {
  height: 100vh;
  background: linear-gradient(#18f08b 50%, #16191e 50%);
}

.container {
  width: 90vw;
  max-width: 37.5em;
  background-color: #242831;
  padding: 6em 3em;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.inp-wrapper {
  display: flex;
  justify-content: space-around;
  gap: 1.2em;
}

label {
  color: #d5d5d5;
  display: block;
  font-weight: 500;
}

input[type='time'] {
  font-size: 16px;
  padding: 1em;
  color: #242831;
  border: none;
  outline: none;
  border-radius: 0.2em;
  margin-top: 0.6em;
}

#calc {
  display: block;
  background-color: #18f08b;
  color: #16191e;
  font-size: 18px;
  margin: 1em auto 2em auto;
  border: none;
  padding: 0.7em 2em;
  border-radius: 0.3em;
  font-weight: 600;
}

#output {
  background-color: rgba(225, 255, 255, 0.15);
  text-align: center;
  padding: 1em;
  font-size: 1.2em;
  letter-spacing: 0.05em;
}